form {
  text-align: center;
}

input {
  min-width: 100%;
}

input.mini {
  max-width: 50%;
}

textarea {
  min-width: 100%;
  row-gap: 10;
}

clr-button-group {
  margin: 8px;
}

.container {
  width: 100%;
}

.submit {
  margin-top: 12px;
}

.body {
  color: greenyellow;
}

.headers {
  color: magenta;
}

.response {
  color: lightseagreen;
}
