<div class="container">
  <div class="clr-row">
    <div class="clr-col-lg-1 clr-col-xl-1"></div>
    <div class="clr-col-lg-10 clr-col-xl-10 clr-col-sm-12 clr-col-md-12">
      <form clrForm clrLayout="horizontal" clrLabelSize="4">
        <div class="clr-row">
          <div class="clr-col-lg-2 clr-col-xl-2 clr-col-sm-2 clr-col-md-2">
            <clr-select-container>
              <select clrSelect name="options" [(ngModel)]="method" [ngModelOptions]="{ 'standalone': true }" (change)="logMethod()">
                <option *ngFor="let method of allowedMethods" [value]="method.value">
                  {{method.name}}
                </option>
              </select>
            </clr-select-container>
          </div>
          <div class="clr-col-lg-8 clr-col-xl-8 clr-col-sm-8 clr-col-md-8">
            <clr-input-container>
              <input clrInput type="text" placeholder="Enter Url" [(ngModel)]="url" [ngModelOptions]="{ 'standalone' : true }" />
            </clr-input-container>
          </div>
          <div class="clr-col-lg-2 clr-col-xl-2 clr-col-sm-2 clr-col-md-2">
            <button
              class="btn btn-success btn-md"
              [disabled]="url.trim().length === 0"
              [clrLoading]="loading"
              (click)="fetchAndUpdate()"
            >
            Send
            </button>
            <button
              class="btn btn-info btn-md"
              [disabled]="!canSaveRequests || (url.trim().length === 0 || response.trim().length === 0)"
              (click)="createRequest()"
            >
            Save Request
          </button>
          </div>
        </div>
      </form>
    </div>
    <div class="clr-col-lg-1 clr-col-xl-1"></div>
  </div>
  <div class="clr-row">
    <div class="clr-col-lg-4 clr-col-xl-4 clr-col-sm-12 clr-col-md-4"></div>
    <div class="clr-col-lg-4 clr-col-xl-4 clr-col-sm-12 clr-col-md-14">
      <clr-radio-container clrInline>
        <clr-radio-wrapper *ngFor="let requestBody of requestBodyTypes">
          <input type="radio" clrRadio [name]="requestBody.name" [value]="requestBody.value" [(ngModel)]="requestBodyType" (click)="saveTabContent()" />
          <label>{{ requestBody.name }}</label>
        </clr-radio-wrapper>
      </clr-radio-container>
    </div>
    <div class="clr-col-lg-4 clr-col-xl-4 clr-col-sm-12 clr-col-md-14"></div>
  </div>
  <div class="clr-row">
    <div class="clr-col-lg-6 clr-col-xl-6 clr-col-sm-12 clr-col-md-12">
      <form *ngIf="requestBodyType === 'json'" clrForm>
        <clr-textarea-container>
          <label>Body</label>
          <textarea [ngModelOptions]="{ 'standalone': true }" [(ngModel)]="body" class="body" rows="5" clrTextarea (keydown)="formatJson($event)"></textarea>
        </clr-textarea-container>
      </form>
      <form *ngIf="requestBodyType === 'urlencoded'" clrForm>
        <div *ngFor="let item of objects" class="clr-row">
          <div class="clr-col-lg-4 clr-col-xl-4 clr-col-sm-4 clr-col-md-4">
            <input type="text" (input)="watchUrlencodedFields()" placeholder="Key" clrInput [ngModelOptions]="{ 'standalone': true }" [(ngModel)]="item.key" />
          </div>
          <div class="clr-col-lg-4 clr-col-xl-4 clr-col-sm-4 clr-col-md-4">
            <input type="text" (input)="watchUrlencodedFields()" placeholder="Value" clrInput [ngModelOptions]="{ 'standalone': true }" [(ngModel)]="item.value" />
          </div>
          <div class="clr-col-lg-4 clr-col-xl-4 clr-col-sm-4 clr-col-md-4">
            <clr-button-group>
              <clr-button (click)="pushUrlEncoded()" class="btn btn-icon btn-success btn-sm">
                <clr-icon shape="plus"></clr-icon>
              </clr-button>
              <clr-button [disabled]="objects.length === 1" (click)="removeUrlEncoded(item)" class="btn btn-icon btn-danger btn-sm">
                <clr-icon shape="minus"></clr-icon>
              </clr-button>
            </clr-button-group>
          </div>
        </div>
      </form>
      <form *ngIf="requestBodyType === 'multipart'" clrForm>
        <div *ngFor="let i of formDataObjects" class="clr-row">
          <div class="clr-col-lg-2 clr-col-xl-2 clr-col-sm-2 clr-col-md-2">
            <select clrSelect name="type" [(ngModel)]="i.type" [ngModelOptions]="{ 'standalone': true }" (change)="saveTabContent()">
              <option value="text">Text</option>
              <option value="file">File</option>
            </select>
          </div>
          <div class="clr-col-lg-4 clr-col-xl-4 clr-col-sm-4 clr-col-md-4">
            <input placeholder="Key" clrInput [(ngModel)]="i.key" [ngModelOptions]="{ 'standalone': true }" (input)="watchMultipartFields()" />
          </div>
          <div class="clr-col-lg-4 clr-col-xl-4 clr-col-sm-4 clr-col-md-4">
            <input type="text" *ngIf="i.type === 'text'" placeholder="Value" clrInput [(ngModel)]="i.value" [ngModelOptions]="{ 'standalone': true }" (input)="watchMultipartFields()" />
            <input type="file" *ngIf="i.type === 'file'" placeholder="Value" clrInput (change)="handleFileUpload($event, i)" />
          </div>
          <div class="clr-col-lg-2 clr-col-xl-2 clr-col-sm-2 clr-col-md-2">
            <clr-button-group>
              <clr-button (click)="addMultipart()" class="btn btn-icon btn-success btn-sm">
                <clr-icon shape="plus"></clr-icon>
              </clr-button>
              <clr-button [disabled]="formDataObjects.length === 1" (click)="removeMultipart(i)" class="btn btn-icon btn-danger btn-sm">
                <clr-icon shape="minus"></clr-icon>
              </clr-button>
            </clr-button-group>
          </div>
        </div>
      </form>
    </div>
    <div class="clr-col-lg-6 clr-col-xl-6 clr-col-sm-12 clr-col-md-12">
      <form clrForm>
        <clr-textarea-container>
          <label>Headers</label>
          <textarea [ngModelOptions]="{ 'standalone': true }" [(ngModel)]="headers" class="headers" rows="5" clrTextarea (keydown)="formatJson($event)"></textarea>
        </clr-textarea-container>
      </form>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-lg-12 clr-col-xl-12 clr-col-sm-12 clr-col-md-12">
      <form clrForm>
        <clr-textarea-container>
          <label>
            Response
            <span
              class="badge"
              [ngClass]="{'badge-success': statusCode >= 200 && statusCode <= 299, 'badge-info': statusCode >= 300 && statusCode <= 399, 'badge-warning': statusCode >= 400 && statusCode <= 499, 'badge-danger': statusCode >= 500}"
            >
            {{ statusCode }}
          </span>
          </label>
          <textarea class="response" [ngModelOptions]="{'standalone': true}" [(ngModel)]="response" rows="5" clrTextarea readonly></textarea>
        </clr-textarea-container>
      </form>
    </div>
  </div>
</div>
