<clr-header class="header-3">
  <div class="branding">
    <span class="title">Restopia</span>
  </div>
  <div class="header-nav">
    <a class="nav-link nav-text" routerLink="client" routerLinkActive="active">Home</a>
    <a class="nav-link nav-text" routerLink="registration" routerLinkActive="active">New Account</a>
  </div>
  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon shape="user"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a href="hi" clrDropdownItem>About</a>
        <a href="hi" clrDropdownItem>Preferences</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</clr-header>
<div class="content-container">
  <app-sidenav></app-sidenav>
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>
